<h1>Books#edit</h1>

<% if @editing_book.errors.any? %>
   <% if @editing_book.errors.count == 1 %>
   <%= @editing_book.errors.count %> error has occured.
 <% elsif @editing_book.errors.count > 1 %>
   <%= @editing_book.errors.count %> errors have occured.
 <% end %>
  <ul>
    <% @editing_book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @editing_book do |f| %>

  <h4>タイトル</h4>
  <%= f.text_field :title %>
  
  <h4>本文</h4>
  <%= f.text_area :body %>
  
  <%= f.submit 'Update Book' %>
  
<% end %>

<%= link_to "Show", book_path(@editing_book.id) %>
<%= link_to "Back", books_path %>

